<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Email Verification</title>
  <style>
    .card {
      font-family: "Helvetica Neue";
      text-align: left;
      margin: auto;
      width: 40%;
    }

    .btn {
      padding: 7px;
      margin-bottom: 10px;
      background: #993cf3;
      color: #fff;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="card-body">
      <p>Welcome <strong>{{ username }}</strong> visiting Long Story Short</p>
      <p>Thanks for ordering our product.</p>
      <p>You paid <strong>{{amount_paid}}</strong> for product</p>

      <p></p>
    </div>
  </div>
</body>
